<p>
	Are you a repeat Skeeter?
</p>

<form method="POST" action="/signin">   
	
	<label for="username">Username</label>   
	<input type="text" name="username">   

	<label for="password">Password</label>   
	<input type="password" name="password">  

	<input type="submit"> 
</form>



<p>
	Or are you discovering your Skeet for the first time?
</p>

<form method="POST" action="/signup">

	<label for="fname">First Name</label>
	<input type="text" name="fname">

	<label for="lname">Last Name</label>
	<input type="text" name="lname">

	<label for="email">Email address</label>
	<input type="text" name="email">

	<label for="password">Password</label>
	<input type="password" name="password">

	<input type="submit">
</form>
