<!DOCTYPE html>
<html>
<head>
	<title>Skeet Skeet!</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

	<h1 class="welcome">
		Come Skeet With us!
	</h1>
<%= yield%>
</body>
</html>