<p>
	Are you a repeat Skeeter?
</p>

<form method="POST" action="/signin">   
	
	<label for="username">Username</label>   
	<input type="text" name="username">   

	<label for="password">Password</label>   
	<input type="password" name="password">  

	<input type="submit"> 
</form>

<p>
	Or are you discovering your Skeet for the first time?
</p>