<h1>
	Welcome, <%=@skeeter.fname %>!
</h1>


<p>
	Do you want to<a href="/edit"> edit your account details?</a>
</p>



<h3>
	<form method = "GET" action = "/logout">
		<input type = "submit" value="Sign Out?">
	</form>
 </h3>


