<h1>
	Welcome, <%=@skeeter.fname %>!
</h1>


<h2>It's time to create a Skeet:</h2>

<form method="POST" action="/newpost"> 

	<input type="text" name="body">

	<input type="submit" value="SKEET">

</form> 

<p>
	Do you want to<a href="/edit"> edit your account details?</a>
</p>



<h3>
	<form method = "GET" action = "/logout">
		<input type = "submit" value="Sign Out?">
	</form>
 </h3>